/cache
/lib
/scripts
/tasks
/test
/typings
/.env*
/.eslintignore
/.eslintrc.js
/.prettierignore
/.prettierrc.js
/.solhint.json
/.solhintignore
/hardhat.config.ts
/tsconfig.json
/tsconfig.package.json
